/* =======================================================================
## ++ Globals
========================================================================== */
html {
  font-size: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  scroll-behavior: smooth;
}

p, h1, h2, h3, h4, h5, span, div {
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  font-family: "Gelasio", serif;
}

main {
  &.open {
    display: none;
  }
}
.paragraph-image-and-text--image-position{
  &-right{
    img{
      float: right;
    }
  }
  &-left{
    img{
      float: left;
    }
  }
  &-center{
    img{
      float: none;
      margin: 0 auto;
      display: block;
    }
  }
}
/* =======================================================================
## ++ Cleafix
========================================================================== */

/* float clearing for IE6 */
* html .clearfix {
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
* + html .clearfix {
  min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

.clr {
  clear: both;
}






