@import "mixins";
@import "variables";
@import "fonts";
.header{
  a{
    font-family: 'Source Sans Pro', sans-serif;
  }
  &__top-bar{
    background: $black;
    height: 32px;
    display: flex;
    align-items:center;
    @include phones{
      display: none;
    }
  }
  &__wrap-content{
    width: 100%;
    margin: 0 auto;
    padding: 0 30px 0 30px;
    max-width: 1600px;
    div{
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }
  #block-flame-aboutus-2{
    ul{
      display: flex;
      gap: 15px;
      li{
        display: flex;
        gap: 15px;
        padding-top: 2px;
        a{
          font-size: 13px;
          color: $white;
          text-transform: capitalize;
          text-decoration: none;
          font-weight: 400;
          transition: $transition;
          &:hover{
            color: $color_hover_link;
          }
        }
      }
    }
  }
  #block-flame-account-menu{
    ul{
      display: flex;
      li{
        a{
          font-size: 13px;
          color: $white;
          text-decoration: none;
          transition: $transition;
          &:hover{
            color: $color_hover_link;
          }
        }
      }
    }
  }
  &__content{
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px 0 30px;
    max-width: 1600px;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    align-items: center;
    #block-flame-date{
      div{
        div:first-child{
          display: none;
        }
        div:last-child{
          text-align: center;
          @include phones{
            display: none;
          }
          font-family: 'Source Sans Pro', sans-serif;
          font-size: 14px
        }
      }
    }
    &-left{
      @include phones{
        display: none;
      }
    }
    &-center{
      padding: 30px 0 30px 0;
      @include phones{
        padding: 10px 0 10px 0;
      }
      a{
        font-family: 'Gelasio', serif;
        font-size: 60px;
        text-decoration: none;
        color: $black;
        text-align: center;
        @include tablets{
          font-size: 40px;
        }
        @include phones{
          font-size: 24px;
          font-weight: bold;
          font-family: serif;
        }
      }
    }
    &-right{
      display: flex;
      gap: 22px;
      #mobile-menu{
        display: none;
        @include phones{
          display: block;
        }
      }
      div{
        @include phones{
          display: none;
        }
        display: flex;
        gap:20px
      }
      #block-flame-searchform{
        display: none;
      }
    }
  }
}
