@import "mixins";
@import "variables";
@import "fonts";
.header{
  a{
    font-family: 'Source Sans Pro', sans-serif;
  }
  &__top-bar{
    background: $black;
    height: 32px;
    display: flex;
    align-items:center;
    @include phones{
      display: none;
    }
  }
  &__wrap-content{
    width: 100%;
    margin: 0 auto;
    padding: 0 30px 0 30px;
    max-width: $big_content;
    div{
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }
  #block-flame-aboutus-2{
    ul{
      display: flex;
      gap: 15px;
      li{
        display: flex;
        gap: 15px;
        padding-top: 2px;
        a{
          font-size: 13px;
          color: $white;
          text-transform: capitalize;
          text-decoration: none;
          font-weight: 400;
          transition: $transition;
          &:hover{
            color: $color_hover_link;
          }
        }
      }
    }
  }
  #block-flame-account-menu{
    ul{
      display: flex;
      li{
        a{
          font-size: 13px;
          color: $white;
          text-decoration: none;
          transition: $transition;
          &:hover{
            color: $color_hover_link;
          }
        }
      }
    }
  }
  &__content{
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px 0 30px;
    max-width: $big_content;
    justify-content: space-between;
    border-bottom: 1px solid $border_color;
    align-items: center;
    #block-flame-date{
      div{
        div:first-child{
          display: none;
        }
        div:last-child{
          text-align: center;
          @include phones{
            display: none;
          }
          font-family: 'Source Sans Pro', sans-serif;
          font-size: 14px
        }
      }
    }
    &-left{
      @include phones{
        display: none;
      }
    }
    &-center{
      padding: 30px 0 30px 0;
      @include phones{
        padding: 10px 0 10px 0;
      }
      a{
        font-family: 'Gelasio', serif;
        font-size: 60px;
        text-decoration: none;
        color: $black;
        text-align: center;
        @include tablets{
          font-size: 40px;
        }
        @include phones{
          font-size: 24px;
          font-weight: bold;
          font-family: serif;
        }
      }
    }
    &-right{
      display: flex;
      gap: 22px;
      #mobile-menu{
        display: none;
        @include phones{
          display: block;
        }
      }
      .tdm-social-wrapper{
        @include phones{
          display: none;
        }
        display: flex;
        gap:20px
      }
      #block-flame-searchform{
        opacity: 0;
        position: absolute;
        z-index: 999;
        top:130px;
        width: 100%;
        max-width: 700px;
        right: 160px;
        background: #fff;
        box-shadow: 0px 0px 2px 0px rgb(0 0 0 / 11%);
        transition: $transition;
        @include lowresmonitors{
          right: 10px;
        }
        @include phones{
          right: 10px;
          box-shadow: none;
          background: transparent;
        }
        &.open{
          opacity: 1;
        }
        padding: 30px;
        &:before{
          content:'';
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 8px 8px 8px;
          position: absolute;
          z-index: 999;
          top:-8px;
          right: 20px;
          border-color: transparent transparent $border_color transparent;
          @include phones{
            border: 0;
          }
        }
        form{
          display: flex;
          width: 100%;
          justify-content: space-between;
          .form-no-label{
            width: 100%;
          }
          .form-search{
            width: 100%;
            border: 0;
            border-bottom: 1px solid $border_color;
            height: 40px;
            outline: none !important;
            @include phones{
              background: transparent;
            }
          }
          .form-submit{
            background-color: $color_hover_link;
            border: 0;
            height: 40px;
            color: #fff;
            padding: 0 25px 0 25px;
            font-family: 'Roboto', sans-serif;
            cursor: pointer;
            @include phones{
              display: none;
            }
          }
        }

      }
    }
  }
}
#search-bar{
  cursor: pointer;
}
#block-flame-main-menu{
  ul{
    display: flex;
    justify-content: center;
    gap:35px;
    @include tablets{
      gap:25px;
    }
    @include phones{
      display: none;
    }
    border-bottom: 1px solid $border_color ;
    li {
      line-height: 55px;
      a{
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 16px;
        color: #000;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        transition: $transition;
        @include tablets{
          font-size: 14px;
        }
        &:hover{
          color: $color_hover_link;
        }
      }
    }
  }
}

.bg-mobile{
  &-menu,&-search{
    background: url("../images/51-1.jpg") center;
    visibility: hidden;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: fixed;
    top:0;
    left: -2099px;
    z-index: 1;
    transition: $transition;
    &.open{  visibility: visible;left: 0; display: block;}
    &:before{
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: .98;
      background: #313b45;
      z-index: 1;
      background: linear-gradient(to bottom, rgba(76,64,132,0.9) 0%, rgba(28,24,51,0.9) 100%);
    }
  }
}
#close-search{
  position: absolute;
  z-index: 99;
  right: 50px;
  top:50px;
  font-size: 30px;
  color: $color_active_mobile_link;
  cursor: pointer;
  display: none;
  &.open{
    display: block;
  }
}
.mobile-navigation{
  position: relative;
  display: none;
  z-index: 99;
  top:50px;
  transition: $transition;
  &.open{display:block;}
  #close-menu{
    position: absolute;
    z-index: 99;
    right: 50px;
    top:-70px;
    font-size: 30px;
    color: $color_active_mobile_link;
    cursor: pointer;
  }
  nav{
    ul{
      display: flex;
      flex-direction: column;
      margin-left: 25px;
      gap:25px;
      li {
        a{
          color: #fff;
          font-size: 18px;
          font-weight: bold;
          text-decoration: none;
          font-family: 'Source Sans Pro', sans-serif;
          &.is-active{
            color: $color_active_mobile_link;
          }
        }
      }
    }
  }
}
