@import "mixins";
@import "variables";
@import "fonts";

.main {
  display: flex;
  width: 100%;
  max-width: $small_content;
  margin: 0 auto;
  padding: 40px 20px 0 20px;
  gap: 35px;

  .main__news-one {
    width: 50%;
  }

  .main__news-list {
    width: 25%;
  }

  .main__sidebar-home {
    width: 20%;
  }
}

#block-flame-views-block-news-on-home-page-block-1,
#block-flame-views-block-related-on-home-page-block-1 {
  display: flex;

  .views-field-field-promo-image {
    img {
      width: 100%;
      display: block;

    }
  }

  .views-field-field-category {
    a {
      display: inline-block;
      padding: 3px 4px 2px;
      background-color: $main_violet;
      font-weight: 400;
      color: #fff;
      text-decoration: none;
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }

  .views-field-title {
    margin: 6px 0 2px;
    font-family: "Gelasio", serif;
    font-size: 32px;
    line-height: 1.1;
    font-weight: 700;

    .field-content {
      a {
        color: #000;
        text-decoration: none;
        transition: $transition;

        &:hover {
          color: $main_violet;
        }
      }
    }
  }

  .views-field-created {
    margin-bottom: 10px;

    .field-content {
      font-size: 13px;
      line-height: 1;
      font-style: italic;
      font-weight: 400;
    }
  }

  .views-field-field-announcement {
    .field-content {
      p {
        margin-top: 15px;
        color: #555;
        width: 700px;
      }
    }
  }
}

#block-flame-views-block-related-on-home-page-block-1 {
  .views-row {
    margin-bottom: 30px;
  }

  .views-field-field-category {
    .field-content {
      position: relative;
      top: -18px;
      margin-bottom: -20px;
    }
  }

  .views-field-title {
    a {
      display: inline-block;
      font-size: 17px;
      line-height: 19px;
      margin-top: 5px;
    }
  }
}

#block-flame-views-block-editor-picks-block-1-2,
#block-flame-views-block-business-news-circle-image-block-1 {
  .views-field-field-promo-image {
    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
  }

  h2 {
    font-size: 24px;
    font-weight: 900;
    color: $main_violet;
    margin-bottom: 10px;
  }

  .views-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .views-field-title {
      width: 70%;

      a {
        color: $black;
        font-weight: bold;
        font-size: 15px;
        text-decoration: none;
        transition: $transition;

        &:hover {
          color: $main_violet;
        }
      }
    }

    .views-field-created {
      width: 50%;
      position: relative;
      top: -10px;

      .field-content {
        font-size: 13px;
        line-height: 1;
        font-style: italic;
        font-weight: 400;
      }
    }
  }
}

#block-flame-views-block-business-news-circle-image-block-1 {
  margin-top: 40px;

  .views-field-created {
    top: -20px !important;
  }
}

#block-flame-banner-2 {
  h2 {
    display: none;
  }
}

.news {
  width: 100%;
  max-width: $small_content;
  margin: 0 auto;
  padding: 40px 20px 0 20px;
  display: flex;
  align-items: start;
  gap: 30px;

  &__right-sidebar {
    & > div {
      .views-element-container:nth-child(1),
      .views-element-container:nth-child(2){
        border: 1px solid $border_color;
        padding: 20px;
        margin-bottom: 20px;
        footer{
          a{
            display: block;
            background: $black;
            color: $white;
            text-align: center;
            height: 40px;
            line-height: 40px;
            border-radius: 3px;
            text-decoration: none;
            font-size: 13px;
          }
        }
        h2 {
          font-size: 24px;
          font-weight: 900;
          color: $main_violet;
          margin-bottom: 10px;
        }

        .views-row {
          display: flex;
          flex-wrap: wrap;
          position: relative;
          margin-bottom: 45px;

          .views-field-field-promo-image {
            position: absolute;
            right: 0;
          }

          .views-field-created {
            width: 60%;
            margin-top: 10px;

            span {
              font-size: 13px;
              font-style: italic;
            }
          }

          .views-field-title {
            width: 65%;

            .field-content {

              a {
                color: $black;
                font-weight: bold;
                font-size: 15px;
                text-decoration: none;
                transition: $transition;

                &:hover {
                  color: $main_violet;
                }
              }
            }
          }
        }

      }
    }
  }
}
