@import "mixins";
@import "variables";
@import "fonts";

.main {
  display: flex;
  @include small-content;
  padding: 40px 20px 0 20px;
  gap: 35px;

  &__news-one,
  &__news-list {
    width: 50%;

    .views-element-container {
      display: flex;

      .views-field-field-promo-image {
        img {
          width: 100%;
          display: block;
        }
      }

      .views-field-field-category {
        a {
          @include small-category;
        }
      }

      .views-field-title {
        margin: 6px 0 2px;
        @include big-title;

        .field-content {
          a {
            font-family: "Gelasio", serif;
            @include hover-link;
          }
        }
      }

      .views-field-created {
        margin-bottom: 10px;

        .field-content {
          @include created-author;
        }
      }

      .views-field-field-announcement {
        .field-content {
          p {
            margin-top: 15px;
            color: #555;
            width: 700px;
          }
        }
      }
    }
  }

  &__news-list {
    width: 25%;

    .views-element-container {
      .views-row {
        margin-bottom: 30px;
      }

      .views-field-field-category {
        .field-content {
          position: relative;
          top: -18px;
          margin-bottom: -20px;
        }
      }

      .views-field-title {
        a {
          @include middle-title
        }
      }
    }
  }

  &__sidebar-home {
    width: 20%;

    .views-element-container {
      .views-field-field-promo-image {
        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }
      }

      h2 {
        @include color-title;
      }

      .views-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 20px;

        .views-field-title {
          width: 70%;

          a {
            @include hover-link;
            @include small-title;
          }
        }

        .views-field-created {
          width: 50%;
          position: relative;

          .field-content {
            @include created-author;
          }
        }
      }

    }
  }
}

.banner-small {
  margin-bottom: 35px;
}


.info {

  @include big-content;
  margin-top: 20px;

  &__wrap-content {
    display: flex;
    gap: 30px;
    padding: $padding_left_right;

    .views-element-container,
    .subscribe {
      position: relative;
      background: $gray;
      padding: 20px;
      width: 33%;
      float: left;

      .tdn-btn-wrap {
        button {
          border: 0;
          background: $main_violet;
          height: 40px;
          color: #fff;
          padding: 0 20px 0 20px;
        }
      }


      #mc-embedded-subscribe-form {
        margin-top: 20px;

        .tdn-email-bar {
          width: 100%;
          display: flex;
          justify-content: space-between;
        }
      }

      .tdn-input-wrap {
        width: 100%;

        input {
          border: 1px solid $border_color;
          text-indent: 5px;
          height: 40px;
          width: 100%;
        }
      }


      h2 {
        @include color-title;
      }

      .about-form {
        @include created-author;
        font-size: 15px;
      }

      .views-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0;

        .views-field-created {
          margin-top: 5px;
          @include created-author;
        }

        .views-field-field-audio {
          position: relative;
          left: -18px;
        }

        .views-field-field-promo-image {
          position: absolute;
          right: 20px;

          img {
            width: 95px;
            height: 95px;
            border-radius: 50%;
          }
        }

        .views-field-created {
          width: 70%;
        }

        .views-field-title {
          width: 70%;

          a {
            @include small-title;
          }
        }
      }
    }
  }
}


.stay-block {
  background: $gray;
  width: 33%;
  padding: 20px;

  h2 {
    color: $main_violet;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 10px
  }

  .wrap-row {
    display: flex;
    gap: 25px;
    justify-content: space-between;

    .block {
      width: 32%;
      height: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 8px;
      transition: $transition;
      cursor: pointer;
      position: relative;

      &__count {
        font-weight: bold;
        font-size: 18px;
      }

      a {
        position: absolute;
        height: 100px;
        width: 100%;
        display: block;
      }

      i {
        font-size: 22px;
      }

      &:nth-child(1) {
        background: #516eab;
        color: #fff;

        &:hover {
          background: #000;
        }
      }

      &:nth-child(2) {
        background: #29c5f6;
        color: #fff;

        &:hover {
          background: #000;
        }
      }

      &:nth-child(3) {
        background: #e14e42;
        color: #fff;

        &:hover {
          background: #000;
        }

      }
    }
  }

}

.news {
  @include small-content;
  padding: 40px 20px 0 20px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 30px;

  &__left-sidebar {
    border: 1px solid $border_color;
    padding: 20px;
    height: auto;
    width: 20%;
    max-width: 250px;

    h2 {
      @include color-title;
    }

    .views-row {
      padding: 10px 0 15px 0;
      border-bottom: 1px solid $border_color;

      .views-field-title {
        a {
          @include hover-link;
          @include small-title;
        }
      }

      .views-field-created {
        @include created-author;
        margin-top: 10px;
      }
    }

    footer {
      a {
        @include black-btn;
      }
    }
  }

  &__right-sidebar {
    width: 30%;
    max-width: 340px;

    & > div {
      .views-element-container:nth-child(1),
      .views-element-container:nth-child(2) {
        border: 1px solid $border_color;
        padding: 20px;
        margin-bottom: 20px;

        footer {
          a {
            @include black-btn;
          }
        }

        h2 {
          @include color-title;
        }

        .views-row {
          display: flex;
          flex-wrap: wrap;
          position: relative;
          margin-bottom: 45px;

          .views-field-field-promo-image {
            position: absolute;
            right: 0;
          }

          .views-field-created {
            width: 60%;
            margin-top: 10px;

            span {
              @include created-author;
            }
          }

          .views-field-title {
            width: 65%;

            .field-content {

              a {
                @include hover-link;
                @include small-title;
              }
            }
          }
        }

      }
    }
  }

  &__list {
    position: relative;
    width: 50%;

    & > div {
      .views-element-container:nth-child(1) {
        h2 {
          margin: 40px 0 30px 0;
          position: relative;
          z-index: 99;
          font-size: 24px;
          font-weight: 900;
          color: $main_violet;
          left: 15px;
        }

        .views-row {
          position: relative;
          height: 180px;
          margin-bottom: 30px;

          .views-field-field-promo-image {
            float: left;
          }

          .views-field-field-announcement {
            float: left;
            width: 50%;
            margin-left: 25px;
            margin-top: 15px;

            p {
              color: #555555;
              font-size: 15px;
              font-family: 'Source Sans Pro', sans-serif;
            }
          }

          .views-field-uid {
            float: left;
            margin-left: 25px;

            a {
              color: $black;
              font-size: 13px;
              text-decoration: none;
              line-height: 1;
              font-style: italic;
              font-weight: 400;

              &:after {
                content: '-';
                position: relative;
                left: 3px;
              }
            }
          }

          .views-field-created {
            float: left;
            margin-top: 3px;
            margin-left: 5px;
            color: $black;
            font-size: 13px;
            text-decoration: none;
            line-height: 1;
            font-style: italic;
            font-weight: 400;
          }

          .views-field-field-category {
            position: absolute;
            bottom: 2px;

            a {
              display: inline-block;
              padding: 3px 4px 2px;
              background-color: #4c4084;
              font-weight: 400;
              color: #fff;
              text-decoration: none;
              font-size: 10px;
              text-transform: uppercase;
              letter-spacing: 1px;
            }
          }

          .views-field-title {
            float: left;
            clear: right;
            margin-left: 25px;
            margin-right: 50px;
            margin-bottom: 10px;
            font-family: "Gelasio", serif;
            width: 55%;
            height: 40px;
            font-size: 21px;
            line-height: 1.1;
            font-weight: 700;

            a {
              color: $black;
              transition: $transition;
              text-decoration: none;

              &:hover {
                color: $main_violet;
              }
            }
          }

        }
      }
    }

    header {
      font-family: 'Roboto', sans-serif;
      font-size: 90px;
      text-transform: uppercase;
      position: absolute;
      top: -5px;
      z-index: 9;
      white-space: nowrap;
      font-weight: bold;
      color: #f3f3f3;
      line-height: 1;
    }
  }
}

.must-read {
  width: 100%;
  max-width: $big_content;
  margin: 60px auto;
  padding: 0 20px 0 20px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    left: 50% !important;
    transform: translateX(-50%) !important;
    max-width: 1600px;
    width: 100%;
    height: 200px;
    background: $main_violet;
  }

  & > div {
    width: 100%;
    max-width: $small_content;
    padding: 0 20px 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .views-element-container:nth-child(1) {
      overflow: hidden;

      header {
        margin-top: 40px;

        h2 {
          color: $white;
          font-size: 64px;
          font-weight: 900;
          margin-bottom: 10px;
        }

        p {
          color: $white;
          font-family: 'Gelasio', sans-serif;
          font-size: 16px;
          margin-bottom: 20px;
        }
      }

      .views-field-created {
        margin-top: 10px;
        font-size: 13px;
        line-height: 1;
        font-style: italic;
        font-weight: 400;
      }

      .views-field-title {
        width: 80%;

        span {
          a {
            font-family: Gelasio, serif;
            font-weight: 700;
            color: $black;
            font-size: 32px;
            display: inline-block;
            line-height: 1.1;
            margin-top: 5px;
            transition: $transition;
            text-decoration: none;

            &:hover {
              color: $main_violet;
            }
          }
        }
      }

      .views-field-field-category {
        position: relative;
        top: -20px;
        margin-bottom: -20px;

        a {
          display: inline-block;
          padding: 3px 4px 2px;
          background-color: #4c4084;
          font-weight: 400;
          color: #fff;
          text-decoration: none;
          font-size: 10px;
          text-transform: uppercase;
          letter-spacing: 1px;
        }
      }
    }

    .views-element-container:nth-child(2) {
      & > div > div {
        display: grid;
        grid-template-columns: 380px 380px;
        gap: 40px;
        margin-top: 235px;

        .views-row {
          position: relative;

          .views-field-field-category {
            position: relative;
            top: -20px;
            margin-bottom: -20px;

            a {
              display: inline-block;
              padding: 3px 4px 2px;
              background-color: #4c4084;
              font-weight: 400;
              color: #fff;
              text-decoration: none;
              font-size: 10px;
              text-transform: uppercase;
              letter-spacing: 1px;
            }
          }

          .views-field-created {
            margin-top: 10px;
            font-size: 13px;
            line-height: 1;
            font-style: italic;
            font-weight: 400;
          }

          .views-field-title {

            span {
              a {
                font-family: Gelasio, serif;
                font-weight: 700;
                color: $black;
                display: inline-block;
                line-height: 19px;
                margin-top: 5px;
                transition: $transition;
                text-decoration: none;

                &:hover {
                  color: $main_violet;
                }
              }
            }
          }
        }
      }
    }
  }
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;

  & > div {
    padding: 30px 0 30px 0;
    width: 100%;
    max-width: 1068px;
    border: 1px solid $border_color;

    & > div {
      display: flex;
      justify-content: center;

      h2 {
        display: none;
      }
    }
  }

}

