<div class="social-shared-links">

  <div class="share">
    <i class="fa-solid fa-share-nodes"></i>
    <span>Share</span>
  </div>

  <ul class="social-links-list">
    <li class="social-links-list__item social-links-list__item--fb">
      <a
        href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fdemo.tagdiv.com%2Fnewspaper_pulses_pro%2Fin-full-sunlight-by-james-tissot-garden-in-london-with-artists-companions%2F"
        class="social-links-list__link">
        <i class="fa-brands fa-facebook-f"></i>
      </a>
    </li>
    <li class="social-links-list__item social-links-list__item--tw">
      <a
        href="https://twitter.com/intent/tweet?text=In+Full+Sunlight+by+James+Tissot%2C+garden+in+London+with+artists%E2%80%99+companions&url=https%3A%2F%2Fdemo.tagdiv.com%2Fnewspaper_pulses_pro%2Fin-full-sunlight-by-james-tissot-garden-in-london-with-artists-companions%2F&via=Newspaper+Pulses+PRO"
        class="social-links-list__link">
        <i class="fa-brands fa-twitter"></i>
      </a>
    </li>
    <li class="social-links-list__item social-links-list__item--pn">
      <a
        href="https://pinterest.com/pin/create/button/?url=https://demo.tagdiv.com/newspaper_pulses_pro/in-full-sunlight-by-james-tissot-garden-in-london-with-artists-companions/&media=https://demo.tagdiv.com/newspaper_pulses_pro/wp-content/uploads/2019/12/34-1.jpg&description=In+Full+Sunlight+by+James+Tissot%2C+garden+in+London+with+artists%E2%80%99+companions"
        class="social-links-list__link">
        <i class="fa-brands fa-pinterest"></i>
      </a>
    </li>
    <li class="social-links-list__item social-links-list__item--whatsapp">
      <a
        href="https://api.whatsapp.com/send?text=In+Full+Sunlight+by+James+Tissot%2C+garden+in+London+with+artists%E2%80%99+companions%20%0A%0A%20https://demo.tagdiv.com/newspaper_pulses_pro/in-full-sunlight-by-james-tissot-garden-in-london-with-artists-companions/"
        class="social-links-list__link">
        <i class="fa-brands fa-whatsapp"></i>
      </a>
    </li>
  </ul>
</div>
